%h1 Projects

%table
  %tr
    %th Project Number
    %th Project Name
    %th Created by
    %th Archived
    %th Mod Date
    %th Created at
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.project_number
      %td= project.project_name
      %td= project.created_by
      %td= project.archived
      %td= project.mod_date
      %td= project.created_at
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br
= link_to 'New Project', new_project_path
